<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Welcome to Foundation</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/foundation/foundation.css")
    @Styles.Render("~/Content/Site.css")
    @RenderSection("head", required: false)

</head>
<body>
        <div class="row full-width">
            <div class="large-12 columns fixed myNav" id="nav">
                <nav class="top-bar row" data-topbar>
                    <section class="small-2 large-4 columns">
                        <ul class="title-area">
                            <li class="name">
                                <h1><a href="#" class="Logo">AbitCareer</a></h1>
                            </li>
                        </ul>
                    </section>

                    @*<section class="top-bar-section small-2 large-4 columns">
                        <ul class="left">
                            <li><a href="#">Calculate salary</a></li>
                            <li><a href="#">Specialities</a></li>
                            <li><a href="#">Universities</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </section>*@

                    <section class="small-2 large-4 columns"></section>
                </nav>
            </div>
        </div>
    @RenderBody()

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/foundation/foundation.js")
    <script>
        $(document).foundation();
        // Для запуска функции:
    </script>

    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
</body>
</html>